
    <div class="container">


        <div class="content-container">

        
            <div class="title-container">
            
                <div class="card-container">
                    <img class="imgmovie" src="{{movieDetail.poster}}" alt="{{movieDetail.title}} poster">
                
                    <header class="header-container">
                        <h1 class="titlemovie">{{movieDetail.title}}</h1>
                    </header>
                </div>
            </div>

            <div class="details-container">
                <div class="text">
                    <p>Director: {{movieDetail.director}}</p>
                    <p>Actors: {{movieDetail.actors}}</p>
                    <p>Year: {{movieDetail.year}}</p>
                    <p>Synopsis: {{movieDetail.synopsis}}</p>
                    <p>Genres: {{movieDetail.genres}}</p>
                </div>
            </div>

        </div>

    </div>

